version: "3.8"

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wine-app
    ports:
      - "8000:8000"
    environment:
      QDRANT_URL: "http://qdrant:6333"
      QDRANT_COLLECTION: "wine_rag"
      WINE_CSV_PATH: "/webapp/wine-ratings.csv"
      OPENAI_API_BASE: "http://host.docker.internal:1234/v1" # to access local LLM
    volumes:
      - ./wine-ratings.csv:/webapp/wine-ratings.csv:ro
    depends_on:
      - qdrant
    restart: unless-stopped

volumes:
  qdrant_data:
